{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <h2>{{ title if title else "Add New Hoarding" }}</h2>

  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="row g-3">
      <div class="col-md-6">
        {{ form.size.label(class="form-label") }}
        {{ form.size(class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.renewal_date.label(class="form-label") }}
        {{ form.renewal_date(class="form-control") }}
      </div>

      <div class="col-md-6">
        {{ form.amount.label(class="form-label") }}
        {{ form.amount(class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.place.label(class="form-label") }}
        {{ form.place(class="form-control") }}
      </div>

      <div class="col-md-6">
        {{ form.owner_name.label(class="form-label") }}
        {{ form.owner_name(class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.contact.label(class="form-label") }}
        {{ form.contact(class="form-control") }}
      </div>

      <div class="col-12">
        {{ form.address.label(class="form-label") }}
        {{ form.address(class="form-control") }}
      </div>

      <div class="col-12">
        {{ form.location_url.label(class="form-label") }}
        {{ form.location_url(class="form-control") }}
      </div>

      <div class="col-md-6">
        {{ form.showroom_name.label(class="form-label") }}
        {{ form.showroom_name(class="form-select") }}
      </div>

      <div class="col-md-6">
        {{ form.showroom_location.label(class="form-label") }}
        {{ form.showroom_location(class="form-select") }}
      </div>

      <div class="col-12">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control") }}
      </div>

      <div class="col-12 text-center mt-3">
        {{ form.submit(class="btn btn-success px-4") }}
      </div>
    </div>
  </form>
</div>

{% endblock %}


